APP_KEYS=5JOfHUiKi3E3eITzPePTmg==,04iRSjqsqevMNleCjyQzuw==,ZvhArpqPAch5rFV0S9Rt1w==,WtKZxzbjpnUoBsHEXhsUrA==
API_TOKEN_SALT=bPs4U96+035cwSYmZy5y+Q==
ADMIN_JWT_SECRET=/slikQjka6Rh83334v2hHA==
TRANSFER_TOKEN_SALT=0Lev3+rIV+iDRY7GL4G+HA==
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=true
JWT_SECRET=c53x7scomv6zmrQPU53tuw==
CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=